@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mayflower-primary: #e5bb63;
    --mayflower-secondary: #2e4054;
}

body {
    background-color: lightgray;
}

a {
    color: var(--mayflower-secondary);
}

.TopBar {
	/* position: fixed; */
	background-color: var(--mayflower-primary);
	box-shadow: 4px 4px 16px gray;
	width: 100%;
	/* top: 0;
	right: 0; */
    flex-wrap: wrap;
    flex-direction: column;
}

.MainBar {
	/* position: fixed;
	background-color: white;
	box-shadow: 4px 4px 16px gray;
	width: 100%;
	top: 0;
	right: 0;
	display: flex;
    flex-wrap: wrap; */
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--mayflower-secondary);
}

.NavBar {
    background-color: var(--mayflower-secondary);
    width: 100%;
}

.Title {
    display: flex;
    flex-direction: column;
}

.TitleText {
    margin: 0px 10px;
    font-size: 30px;
}

.Pill {
	height: 3px;
	background-color: var(--mayflower-primary);
	margin-top: 14px;
	width: 100%;
}

.NavButton {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 17px;
	padding-left: 10px;
	padding-right: 10px;
	transition-duration: var(--transition-duration);
	font-size: 20px;
    border-width: 0px;
	display: inline-block;
}

.NavHref {
    text-decoration: none;
    color: var(--mayflower-primary);
}

.MainBody {
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
    color: var(--mayflower-secondary);
}

.Services {
    display: flex;
}

.ServicesBox {
    margin-right: 10px;
    max-width: 200px;
}

.Categories {
    display: flex;
    flex-direction: column;
}

.FineText {
    font-size: 10px;
    margin: 0px;
}

.ProfileImage {
    border-radius: 100%;
    border: solid 2px var(--mayflower-primary);
    background-color: var(--mayflower-secondary);
}